{% extends 'main/base.html'%}
{% block main %}
{% load static %}
   <div class="container-fluid" id="main-container">
            <div class="row">
                <div class="col-sm-6 col-lg-7">
                        <video width="100%" id="vidplay" height="70%" controls>
                        </video>
                        <br>
                        <p id='laughinfo'></p>
                        <br>
                </div>
                <div class="col-sm-6 col-lg-5">
                    <form>
                        <div class='row'>
                            <div class='col-sm-6'>
                                <h5> <i class="em em-laughing"></i> Funny?</h5>
                                <small style="font-size: 60%;">Click "Yes" if the utterance is funny, else no</small><br>
                                <input type="radio" name="laugh" onclick="modify_laugh('laugh', true);"> Yes<br>
                                <input type="radio" name="laugh" onclick="modify_laugh('laugh', false);"> No<br><br>
                            </div>
                            <div class='col-sm-6'>
                                <h5><i class="em em-upside_down_face"></i> Sarcastic?</h5>
                                <small style="font-size: 60%;">Click "Yes" if the utterance is sarcastic, else no</small><br>
                                <input type="radio"  name="sarcasm" onclick="modify_laugh('sarcasm', true);"> Yes<br>
                                <input type="radio" name="sarcasm" onclick="modify_laugh('sarcasm', false);"> No<br><br>
                            </div>
                        </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <input type="radio" name="bad_sentence" onclick="modify_laugh('bad_sentence', true);"> <i class="em em-x"></i>Bad Sentence<br><br>
                        </div>
                    </div>
                    </form>
                    <!-- 
                    <div class='btn-group'>
                            <button type="button" class="btn btn-secondary" onclick="moveTimeStamp('prev', false);">Previous Utterance</button>
                            <button type="button" class='btn btn-primary' onclick="moveTimeStamp('next', true);">Next Utterance</button>
                    </div>  -->
                    <br><br>
                    <button type='button' class='btn btn-success btn-block' onclick="saveCSV();">Save and Next</button>
                </div>
            </div>

            <div class="alert alert-success">
                    <p id='seasoninfo'></p>
                    <p id='timeinfo'></p>
            </div>

            <div class='row' style="visibility: hidden;">
                <div class='col-sm-12' style="visibility: hidden;">
                    <form action="{% url 'savecsv' %}" method="POST" style="visibility: hidden;">
                        <input type="text" name="jsondata" id="jsoninput" required>
                        <input type="text" name='last_id' id='last_id' required>
                        <input type="submit" id="submitData">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 style="font-weight: lighter;">How to use this?</h3>
                    <ol>
                        <li>The tool will automatically go through the respecitve utterances and you have to label them.</li>
                        <li>Click on the respective options as per the video-stamp.</li>
                        <li>Click "Next Timestamp" to go to the next utterance, and "Prev Timestamp" for the previous</li>
                    </ol>
                </div>
            </div>
        </div>
        <script>
            var laugh = false,
                sarcasm = false,
                bad = false,
                tableCount = -1, 
                jsontosend = "",
                info = document.getElementById("info"),
                timeinfo = document.getElementById("timeinfo"),
                laughinfo = document.getElementById("laughinfo"),
                seasoninfo = document.getElementById("seasoninfo"),
                vid = document.getElementById("vidplay"),
                end_timestamp = 1,
                _URL = "http://matterhorn.d2.comp.nus.edu.sg/~devamanyu/BBT/",
                chose = false;

            
            {% if csv == "none" %}
            {% else %}
                {% autoescape off %}
                var stro = '{{ csv |escapejs}}';
                main_data = Papa.parse(stro);
                main_data = main_data["data"];
                tableCount = {{ last_id }} + 1;
                moveTimeStamp('next', false);
                {% endautoescape %}
            {% endif %}

            function to_sec(timestamp)
            {
                var a = timestamp.split(',')[0].split(':');
                return (+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2]); 
            }

            function moveTimeStamp(movetype) {
                if(tableCount == -1)
                    return alert("Error : Please Click on \"Start!\"");
                if(movetype == 'next')
                    tableCount ++;
                else
                    tableCount--;

                seasoninfo.innerHTML = "<strong>Season</strong> : " + main_data[tableCount][1] + ", <strong>Episode</strong> : " + main_data[tableCount][2];
                timeinfo.innerHTML = "<strong>Time</strong> : " + main_data[tableCount][5] + " - " + main_data[tableCount][6];
                laughinfo.innerHTML = "<strong>" + main_data[tableCount][3] + "</strong> : " + main_data[tableCount][4];
                id = main_data[tableCount][0]
                vid.setAttribute("src", _URL + id + ".mp4")
                vid.play();
            }

            function saveCSV()
            {
                if(tableCount == -1)
                    return alert("Error : Please select Season & Episode.");

                if(chose == false)
                    return alert("Error : Please choose one of the options");

                var textElem = document.getElementById("jsoninput"),
                    idElem = document.getElementById("last_id");
                textElem.value = jsontosend;
                idElem.value = tableCount;
                $("#submitData").click();
            }

            function modify_laugh(yayOrNay, val)
            {
                if(tableCount == -1)
                    return alert("Error : Please select Season & Episode.");

                if(yayOrNay == 'laugh')
                    laugh = val;
                else if(yayOrNay == 'sarcasm') 
                    sarcasm = val;
                else               
                    bad = val;

                jsontosend = '{ "id" : "' + main_data[tableCount][0] + '", "init_timestamp" : "' + main_data[tableCount][5] + '", "end_timestamp" : "' + main_data[tableCount][6] + '", "laugh" : "' + laugh + '", "sarcasm" : "' + sarcasm + '", "bad_sentence" : "' + bad + '" }, ';
                chose = true;
            }
            
        </script>
{% endblock %}
