{% extends 'main/base.html'%}
{% block main %}
{% load static %}
   <div class="container-fluid" id="main-container">
            <div class="alert alert-success">
                <strong>Status : </strong> <span id="status">{{status}}</span>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-7">
                        <video width="100%" id="vidplay" height="70%" controls>
                        </video>
                        <br>
                        <div class='btn-group' style="margin-right: 10px;">
                            <button type="button" class='btn btn-success' onclick="modify_laugh(true);"><i class="em em-laughing"></i></button>
                            <button type="button" class='btn btn-danger' onclick="modify_laugh(false);"><i class="em em-unamused"></i></button>
                        </div>
                        <div class='btn-group'>
                            <button type="button" class="btn btn-secondary" onclick="moveTimeStamp('prev');">Previous Timestamp</button>
                            <button type="button" class='btn btn-primary' onclick="moveTimeStamp('next');">Next Timestamp</button>
                            <button type="button" class='btn btn-success btn-lg' onclick="saveCSV();">Save</button>
                        </div>
                        <br>
                </div>
                <div class="col-sm-6 col-lg-5">
                    <form method="POST">
                        <input type="submit" class="btn btn-success btn-block" value="Get Annotation Data">
                    </form>
                    <br>
                    <div id='info'>
                        <br>
                        <p id='timeinfo'></p>
                        <p id='laughinfo'></p>
                    </div>
                </div>
            </div>
            <div class='row' style="visibility: hidden;">
                <div class='col-sm-12' style="visibility: hidden;">
                    <form action="{% url 'savecsv' %}" method="POST" style="visibility: hidden;">
                        <input type="text" name="jsondata" id="jsoninput" required>
                        <input type="text" name='last_id' id='last_id' required>
                        <input type="submit" id="submitData">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 style="font-weight: lighter;">How to use this?</h3>
                    <ol>
                        <li>Type in the Season and Episode Number click on "Start".</li>
                        <li>Select the video by clicking on "Choose File".</li>
                        <li>The tool will automatically go through the respecitve timestamps in that episode.</li>
                        <li>Click on "<i class="em em-laughing"></i>" if there <i>really</i> is laughter present in that timestamp. "<i class="em em-unamused"></i>" otherwise.</li>
                        <li>Click "Next Timestamp" to go to the next utterance, and "Prev Timestamp" for the previous</li>
                        <li class="text-primary">DON'T FORGET TO PRESS "SAVE" WHEN YOU ARE DONE</li>
                    </ol>
                </div>
            </div>
        </div>
        <script>
            var tableCount = -1, 
                jsontosend = "",
                info = document.getElementById("info"),
                timeinfo = document.getElementById("timeinfo"),
                laughinfo = document.getElementById("laughinfo"),
                vid = document.getElementById("vidplay"),
                end_timestamp = 1,
                _URL = "http://matterhorn.d2.comp.nus.edu.sg/~devamanyu/BBT/";

            
            {% if csv == "none" %}
            {% else %}
                {% autoescape off %}
                var stro = '{{ csv |escapejs}}';
                main_data = Papa.parse(stro);
                main_data = main_data["data"];
                tableCount = {{ last_id }};
                moveTimeStamp('next');
                {% endautoescape %}
            {% endif %}

            function to_sec(timestamp)
            {
                var a = timestamp.split(',')[0].split(':');
                return (+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2]); 
            }

            function moveTimeStamp(movetype) {
                if(tableCount == -1)
                    return alert("Error : Please Click on \"Start!\"");
                if(movetype == 'next')
                    tableCount ++;
                else
                    tableCount--;

                timeinfo.innerHTML = "Time : " + main_data[tableCount][5] + " - " + main_data[tableCount][6];
                laughinfo.innerHTML = main_data[tableCount][3] + " : " + main_data[tableCount][4];
                id = main_data[tableCount][0]
                vid.setAttribute("src", _URL + id + ".mp4")
                vid.play();
            }

            function saveCSV()
            {
                if(tableCount == -1)
                    return alert("Error : Please select Season & Episode.");

                var textElem = document.getElementById("jsoninput"),
                    idElem = document.getElementById("last_id");
                textElem.value = jsontosend;
                idElem.value = tableCount;
                $("#submitData").click();
            }

            function modify_laugh(yayOrNay)
            {
                if(tableCount == -1)
                    return alert("Error : Please select Season & Episode.");

                jsontosend += '{ "id" : "' + main_data[tableCount][0] + '", "init_timestamp" : "' + main_data[tableCount][5] + '", "end_timestamp" : "' + main_data[tableCount][6] + '", "laugh" : "' + yayOrNay +'" },';
                moveTimeStamp('next');
            }
            
        </script>
{% endblock %}
